* {
    font-family: "Iowan Old Style",Cambria,Georgia,serif;
    font-size: calc(10px + 0.5vw);
    padding: 0;
    margin: 0;
}

:root {
    --white: white;
    --black: black;
    --red: #AA4A44;
    --gray: #898989;
}

.white { color: var(--white); }
.black { color: var(--black); }
.red { color: var(--red); }
.gray { color: var(--gray); }
.shadow {
    text-shadow: 2px 2px 2px var(--black);
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}
ul {
    text-decoration: none;
}

/* MAIN STYLING PART */

nav {
    background-color: var(--gray);
    padding: 15px;
    text-align: center;
}

main {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.grid {
    display: flex;
    justify-content: center;
}
.grid .gridy {
    display: flex;
    flex-direction: column;
}
.grid .gridx {
    display: flex;
    flex-direction: row;
}
.grid .gridbox {
    width: 3vw;
    height: 3vw;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    border-radius: 0.3vw;
}
.grid .gridbox .gridcontent {
    background-color: var(--black);
    margin: auto;
    width: 0%;
    height: 0%;
    transition-duration: 0.1s;
}

.dropdownlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3vw;
    gap: 1vw;
}
.dropdownlist select {
    appearance: none;
    width: 85%;
    font-size: 1rem;
    padding: 0.675vw 6vw 0.675vw 1vw;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.dropdownlist button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #000000;
    padding: 0.375vw 2vw;
    font-size: 0.7rem;
}






canvas, #candiv{
    border:1px solid black;
    display: flex;
    width: 70vw;
    margin: auto;
    margin-top: 3vw;
}

#candiv{
    border: none;
    display: block;
}